[build]
builder = "NIXPACKS"

[phases.setup]
nixPkgs = ["python3", "gcc", "gnumake"]

[deploy]
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "flywheel"
rootDirectory = "/"
buildCommand = "echo 'No build required for flywheel'"
startCommand = "npx ts-node flywheel.ts"

[[services]]
name = "dashboard"
rootDirectory = "dashboard"
buildCommand = "npm run build"
startCommand = "echo '--- DEBUG START ---' && ls -F && npx next start -p $PORT"
